/kaggle
/ICPR02
/archive
/__pycache__
sassl/SASSL_checkpoints
sassl/SASSL_classification_checkpoints
autoencoder/checkpoints
autoencoder/classification_checkpoints
/sanity_classification_checkpoints
satlas/satlas_baseline_classification_checkpoints9
satlas/satlas_baseline_classification_checkpoints12
satlas/satlas_sassl_checkpoints9
my_model.pth
sentinel2_swinb_si_ms.pth
satlas/sentinel2_swinb_portable.pth
satlas/satlas_sassl_classification_checkpoints9
/s2a.tar
/SASSL_checkpoints
/SASSL_classification_checkpoints
/checkpoints
/classification_checkpoints
/sanity_classification_checkpoints
/s2a
satlas/my_model.pth
satlas/sentinel2_swinb_portable.pth
